<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org/spring"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Insomnio en Monterrey" />
	<meta name="author" content="Ruth Krisel Saldivar" />

	<title>Insomnio Monterrey</title>

	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<!-- <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" /> -->

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
	<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
	
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Raleway" />
    <style>
    	.navbar {
			background-color: #214C68;
			letter-spacing: 3px;
			border-color: #214C68;
		}

		.navbar li a, .navbar .navbar-brand {
			color: #fff !important;
		}
		
		.navbar-nav li a:hover, .navbar-nav li.active a {
			color: #f4511e !important;
			background-color: #fff !important;
		}
		
		.navbar-default .navbar-toggle {
			border-color: transparent;
			color: #fff !important;
		}
     	
     	* {
        	font-family: 'Raleway', sans-serif;
      	}
    
    </style>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


	<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Insomnio Monterrey</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/}">ACERCA DE MI</a></li>
						<li><a th:href="@{/contacto}">CONTACTO</a></li>
					</ul>
				</div>
			</div>
		</nav> 
	<div layout:fragment="content"></div>

</body>
</html>