<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/spring"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<title>Dra. Ruth Krisel Saldivar</title>

<style type="text/css">
h4 {
	margin-top: 0px;
}
</style>


</head>


<body>

	<div class="mid-top" layout:fragment="content">

		<br /> <br /> <br /> <br />
		<div class="container">

			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/profile.png}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Dra. Ruth Krisel Saldívar Hernández</h4>
					<h4>Cédula Profesional: 7308420</h4>
					<h4>Cédula de Especialista: 9976116</h4>
					<h4>Consejo Mexicano de Psiquiatría: 1561234</h4>

				</div>

			</div>
			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/udem.png}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Médica Cirujana y Partera por la Universidad de Monterrey</h4>

				</div>

			</div>





			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt=""
						th:src="@{/images/institutonacional.jpg}" width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Especialización en Psiquiatría en el Instituto Nacional de
						Psiquiatría “Ramón de la Fuente” y avalada por la Universidad
						Nacional Autónoma de México.</h4>
					<h4>Alta Especialidad de Medicina del Sueño en el Instituto
						Nacional de Psiquiatría “Ramón de la Fuente” y avalada por la
						Universidad Nacional Autónoma de México.</h4>
				</div>

			</div>


			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/stanford.png}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Certificación en Epidemiología de Medicina del Sueño en
						Stanford Sleep Epidemiology Center.</h4>

				</div>

			</div>


			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/diplomado.png}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Diplomado de Terapia Cognitivo Conductual en Instituto
						Mexicano de Psicoterapia Cognitivo Conductual, México, D.F.</h4>

				</div>

			</div>

			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/itesm.jpg}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Profesora del curso de posgrado de “Trastornos del Sueño”
						para residentes en la especialidad de psiquiatría del Tecnológico
						de Monterrey, desde 2017.</h4>

				</div>

			</div>


			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/apm.gif}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Miembro de la Asociación Psiquiátrica Mexicana (APM) desde
						2014 (SA40273)</h4>

				</div>

			</div>



			<hr />
			<div class="row">

				<div class="col-sm-4">
					<img class="img-thumbnail" alt="" th:src="@{/images/consejo.png}"
						width="100%" />
				</div>
				<div class="col-sm-8">

					<h4>Certificada por el Consejo Mexicano de Psiquiatría</h4>

				</div>

			</div>



		</div>

		<hr />
		<footer class="container-fluid bg-4 text-center">
			<p>Dra. Ruth Krisel Saldívar Hernández</p>
		</footer>




		<!-- 		<div class="jumbotron">
			<img class="img-thumbnail" alt="" src="http://www.pptbackgrounds.org/uploads/medical-doctor-woman-backgrounds-wallpapers.jpg" width="100%"/>
		</div>
		
		<div class="container">
			<h4>Insomnio Monterrey</h4>
		</div>

		Add Google Maps
		<div class="container">
		<div id="googleMap" style="height: 400px;"></div>
		</div>
		<script>
			function myMap() {
				var myCenter = new google.maps.LatLng(25.668576, -100.350337);
				var mapProp = {
					center : myCenter,
					zoom : 15,
					scrollwheel : false,
					draggable : false,
					mapTypeId : google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document
						.getElementById("googleMap"), mapProp);
				var marker = new google.maps.Marker({
					position : myCenter
				});
				marker.setMap(map);
			}
		</script>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNAFuZGdhKmdT03F2JAecEWCEGx8BH_uE&amp;callback=myMap"></script>
 -->
	</div>

</body>
</html>